pre{
    color: rgb(209, 241, 69);
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
    font-family:Wide Latin; 
    font-variant: small-caps; 
    font-weight:800px;  

}
